body{
    background-image: url('../pics/back.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}
header{
    text-align: center;
    padding: 10px;
    font-size: 36px;
    font-weight: bolder;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    letter-spacing: 30px;
}
header:hover{
    letter-spacing: 76px;
    transition: all 0.5s linear;
}
.page{
    position: relative;
    top: 70px;
    height: 200vh;
}
.text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 72px;
    text-transform: uppercase;
    color: red;
}
.logo{
    position: absolute;
    left: 40%;
    transform: translate(30%, 30%);
    transition: all 0.2s linear;
    animation-name: beat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0.5;
}
@keyframes beat {
    from {
        height: 300px;
    }
    to{
        height: 600px;
    }
}