body{
    background-image: url('../pics/back.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}
header{
    text-align: center;
    padding: 10px;
    font-size: 36px;
    font-weight: bolder;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    letter-spacing: 30px;
}
header:hover{
    letter-spacing: 76px;
    transition: all 0.5s linear;
}
.page{
    position: relative;
    top: 70px;
    height: 200px;
}
.text{
    position: absolute;
    left: 20%;
    transform: translateX(-30%);
    font-size: 55px;
    text-transform: unset;
    text-align: left;
    color:red;
    animation-name: health;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
.logo{
    position: absolute;
    left: 40%;
    transform: translate(30%, 30%);
    transition: all 0.2s linear;
    animation-name: beat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0.5;
}
@keyframes beat {
    from {
        height: 200px;
    }
    to{
        height: 400px;
    }
}
@keyframes health {
    from {
        background-color: chartreuse;
        top: 50px;
    }
    to{
        background-color: rgb(30, 114, 210);
        top: 350px;
    }
}